<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.frameworkresoverlay.haotian">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="2"
             android:targetPackage="android"
             android:targetName="XiaomiFrameworkResOverlay" />
</manifest>
